body {
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,h2,h3{
  text-align: center;
}
#main-container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
#header-nav, #footer-nav {
  background-color: rgba(160, 155, 216, 0.7);
  color: #000;
  text-align: center;
  padding: 1em;
}

header ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header li{
  display: inline;
  margin-right: 20px;
}
header li:last-child{
  margin-right: 0;
}

header a:hover{
  color: purple;
  background-color: yellow;
}

header a:active{
  color: red;
}
.section {
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
}

#section1 {
  background-color: rgba(255, 182, 193, 0.3);  /* 薄いピンク */
}

#slides {
  background-color: rgba(173, 216, 230, 0.3);  /* 薄いブルー */
}

#section3 {
  background-color: rgba(152, 251, 152, 0.3);  /* 薄いグリーン */
}

#hobbies {
  background-color: rgba(255, 160, 122, 0.3);  /* 薄いオレンジ */
}

.portfolio-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 20px auto 0 auto;
  max-width: 1100px;
  width: 100%;
  padding: 0 20px;
}
.card {
  background-color: #a09bd8;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 250px;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}
.card:hover {
  transform: translateY(-10px);
  background-color: #6f729c;
  color: #ffffff;
}
.card-image {
  width: 100%;
  height: 126px;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card-content {
  padding: 16px;
}
.card-title {
  font-size: 30px;
  margin: 0 0 10px;
  font-weight: bold;
}
.card-description {
  margin: 0;
}

.fab {
  font-family: "Font Awesome 5 Brands";
}
.icon {
  width: 36px;
  height: 36px;
  font-size: 36px;
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.speakerdeck-iframe {
  border: 0px;
  background: padding-box padding-box rgba(0, 0, 0, 0.1);
  margin: 0px;
  padding: 0px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 40px;
  width: 100%;
  height: auto;
  aspect-ratio: 560 / 314;
  frameborder: 0;
}

@media only screen and (max-width: 600px) {
  /* スマホ用のスタイル */
  #header-nav, #footer-nav {
    padding: 0.5em;
  }
  .icon {
    width: 45px;
    height: 45px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* タブレット用のスタイル */
  #header-nav, #footer-nav {
    padding: 0.8em;
  }
  .icon {
    width: 45px;
    height: 45px;
  }
}

@media only screen and (min-width: 1025px) {
  /* PC用のスタイル */
  /* ここに必要なスタイルを追加 */
}
